$display: flex;
nav {
    display: $display;
    position: fixed;
    justify-content: space-between;
    color:rgb(253, 253, 255);
    height: 120px;
    width: 100%;
    top: 0;
    background-color: #4056A1;
    
.title {
  display: $display;
  align-items: flex-end;
  font-family: 'Bungee';
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  font-size: 40px;
}

.phrase {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
}

.nav-phrase {
  display: $display;
  flex-direction: column;
  justify-content: center;
  padding-right: 1.5em;
}

.fa-angle-double-down {
  color: rgb(187, 38, 38);
}

.down-arrow {
  display: flex;
  justify-content: center;
}

  }
  

  