nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  color: #fdfdff;
  height: 120px;
  width: 100%;
  top: 0;
  background-color: #4056A1;
}
nav .title {
  display: flex;
  align-items: flex-end;
  font-family: "Bungee";
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  font-size: 40px;
}
nav .phrase {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
}
nav .nav-phrase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1.5em;
}
nav .fa-angle-double-down {
  color: #bb2626;
}

.show {
  display: none;
}

nav .down-arrow {
  display: flex;
  justify-content: center;
  animation: updown 2s ease infinite;
  animation-name: bouncing-arrow;
  animation-timing-function: ease;
}

@keyframes updown {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-20%);
  }
}
