/* CSS for Desktop and Tablet Layouts */
  /* Tablet: minimum width of 768px to maximum width of 1024px */
  @media only screen and (min-width: 768px) and  (max-width: 1024px){
    nav {
      background-color: #c48704d2;
      background-image: url("/images/asfalt-dark.png");
      position: relative;
    }
    .page-header {
      margin-top: 0px;
    }
  }

  /* Laptops / Desktops: minimum width of 1024px */
  @media only screen and (min-width: 1024px) {
    body {
      flex-direction: row;
      justify-content: space-between;
      align-items: unset;
    }
    .page-header {
      padding-top: 40px;
      margin: 200px 180px 0px 50px;
      height: 350px;
      max-width: 430px;
      top: 0;
    }
    .container {
      padding-top: 200px;
      padding-right: 50px;
      width: 60%;
    }
  }
