.tweet-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tweet {
  border: 3px solid #545149;
  padding: 20px 20px 10px 20px;
  margin-top: 50px;
}

article.tweet header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
}

.user-badge {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: auto;
  height: 45px;
}

.user-name {
  padding-left: 10px;
}

.user-handle {
  font-weight: bold;
  color: rgb(180, 180, 206)
}

.user-content {
  padding: 20px 0px 20px 0px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.tweet:hover {
  box-shadow: 5px 5px 1px 1px rgba(116, 116, 254, 0.2);
}

article.tweet footer {
  border-top: 3px solid #545149;
}

.footer-utility {
  display: flex;
  justify-content: space-between;
}

.tweet-date {
  font-size: .5em;
  padding: 2px
}

.footer-icons {
  display: flex;
}

.icon {
  font-size: .75em;
  padding: 5px;
  color: #3f3f85;
}

.icon:hover {
  color: #948512;
}